.Field {
  width: 3rem; /* Leena: make this responsive */
  height: 3rem;

  border-radius: 0;
  background: transparent;
  color: black;
  border: inherit;
}

.Field:hover:not(:disabled),
.Field:focus {
  outline: none;
  background: lightgrey;
}

@keyframes showAfterDelay {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}

.Field--fade-in {
  color: transparent;
  animation-name: showAfterDelay;
  animation-duration: 0.1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
