.Game {
  text-align: center;
}

.Game-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* LEENA: some good old media queries to make this more responsive */
.Game-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1rem 10rem 3rem;
  justify-items: center;
  align-items: center;
  grid-gap: 1rem;
}

.Game-layout--status {
  grid-column: 2;
}

.Game-layout--board {
  grid-column: 2;
}

.Game-layout--button {
  grid-column: 2;
}

.Game-layout--options {
  grid-column: 3;
  grid-row: 2;
}

.Game-button {
  border-radius: 4px;
  padding: 1rem;
  margin: 0.5rem 1rem;
  background: transparent;
  color: black;
  border: 2px solid black;
}

.Game-button:active,
.Game-button:focus {
  outline: none;
  background-color: lightgrey;
}
