.Game {
  text-align: center;
}

.Game-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.Game-button {
  border-radius: 4px;
  padding: 1rem;
  margin: 0.5rem 1rem;
  background: transparent;
  color: black;
  border: 2px solid black;
}

.Game-button:active,
.Game-button:focus {
  outline: none;
  background-color: lightgrey;
}
